@import url("https://cdn.jsdelivr.net/nmp/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #303030;
    user-select: none;
}

.card {
    position: relative;
    width: 100%;
    padding: 5px;
    color: #ffffff;
    background: linear-gradient(to right, #008899, #005858);
}

h4 {
    color: #c9c9c9;
    text-align: center;
    margin-top: 0;
}

.card > button, a {
    background-color: transparent;
    border: none;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top: 3px;
    right: 7px;
}

.topup-amount {
    color: #ff6060;
}

.limit {
    color: #b0d4d4;
}

.card-image {
    position: absolute;
    top: 40px;
    right: 5px;
    border-radius: 10px;
    height: 97px;
    width: 40%;
    display: block;
    margin: 0;
}

.info {
    color: #909090;
    text-align: center;
}

.btn > button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00d8d8;
    color: #000000;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 90%;
    margin: 0.1px auto;
    font-weight: bold;
}

.hr-with-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}
.hr-with-text hr {
  flex: 1;
  border: none;
  height: 1px;
  background: #cccccc;
  margin: 0;
}
.hr-with-text span {
  white-space: nowrap;
  margin: 0 0.5rem;
  font-weight: 500;
}

.actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.2em;
    align-items: center;
}
.actions > button {
    text-align: center;
    color: #ffffff;
    background-color: #404040;
    height: 30px;
    width: 96%;
    border-radius: 10px;
    border: solid 0.1px #00ffff11;
}
span {
    float: left;
}
q {
    color: #2f4f4f;
    font-size: 11px;
}
mark {
    color: currentColor;
    background-color: transparent;
}
mark:hover {
    color: #ff0000;
}